<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}EconFun{% endblock %}</title>
        <style>
            /* Global Styles */
            * {
                margin: 0;
                padding: 0;
            }
            /* Base Styles */
            body {
                background: #EEEEEE;
                font-family: 'Open Sans', Helvetica, Arial, sans-serif;
                font-size: 16px;
            }
            header {
                background: #6AC600;
                display: flex;
                font-family: 'Quicksand', Helvetica, Arial, sans-serif;
            }
            header h1 {
                color: #FFFFFF;
                font-size: 2em;
                flex-grow: 1;
                margin: 0;
                padding: 0.3em 0.4em;
                text-align: left;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                text-transform: uppercase;
            }
            header .active, header a:hover {
                color: #B7FF4D !important;
            }
            header nav {
                align-self: center;
                display: flex;
                font-size: 1.25em;
                margin: 0 0.5em 0 0;
            }
            header a, header a:visited {
                color: #FFFFFF;
                margin: 0 0.5em;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
                transition: color 0.3s ease;
            }
            header a i {
                margin-right: 0.2em;
            }
            a, a:visited {
                text-decoration: none;
            }
            /* Typography Styles */
            h1 {
                color: #555555;
                font-family: 'Quicksand', Helvetica, Arial, sans-serif;
                margin: 1em 0;
                text-align: center;
            }
            /* Form Styles */
            form {
                margin: auto;
                max-width: 275px;
                text-align: center;
            }
            form input {
                border-radius: 3px;
                border: 3px solid #DDDDDD;
                box-sizing: border-box;
                display: block;
                font-family: 'Open Sans', Helvetica, Arial, sans-serif;
                font-size: 1.3em;
                margin: 0.1em 0 1em 0;
                outline: none;
                padding: 0.25em;
                transition: border-color 0.3s ease;
                width: 100%;
            }
            form input:focus {
                border-color: #6AC600;
            }
            form label {
                display: block;
                text-align: left;
            }
            input[type="submit"], button, a.primary-cta {
                background: -moz-linear-gradient(top, #6ac600 0%, #51ad00 100%);
                background: -ms-linear-gradient(top, #6ac600 0%, #51ad00 100%);
                background: -o-linear-gradient(top, #6ac600 0%, #51ad00 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, #6ac600), color-stop(100%, #51ad00));
                background: -webkit-linear-gradient(top, #6ac600 0%, #51ad00 100%);
                background: #6ac600;
                background: linear-gradient(to bottom, #6ac600 0%, #51ad00 100%);
                border-radius: 5px;
                border: none;
                box-sizing: border-box;
                color: #FFFFFF;
                cursor: pointer;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ac600', endColorstr='#51ad00', GradientType=0 );
                font-family: 'Quicksand', Helvetica, Arial, sans-serif;
                font-size: 1.3em;
                font-weight: 700;
                margin: 0.1em 0 1em 0;
                padding: 0.5em 1em;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                transition: color 0.3s ease;
            }
            input[type="submit"]:hover, button:hover, a.primary-cta:hover {
                color: #B7FF4D;
            }
            a.secondary-cta {
                background: #CCCCCC;
                border-radius: 5px;
                color: #FFFFFF;
                display: block;
                padding: 5px 0;
                transition: background 0.3s ease;
            }
            a.secondary-cta:hover {
                background: #BBBBBB;
            }
            /* Admin Table Styles */
            .admin-table {
                margin: auto;
                display: table;
            }
            .admin-table .row {
                display: table-row;
                width: 100%;
            }
            .admin-table .row:first-of-type {
                font-weight: 600;
                border-radius: 5px 5px 0 0;
            }
            .admin-table .row:nth-of-type(2n) {
                background: #E9E9E9;
            }
            .admin-table .row:nth-of-type(2n-1) {
                background: #DFDFDF;
            }
            .admin-table .row .cell {
                display: table-cell;
                padding: 0.5em;
            }
            /* Misc Classes */
            .green {
                color: #6AC600;
            }
            .cta-container {
                margin: 2.5em auto;
                max-width: 275px;
                text-align: center;
            }
        </style>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Quicksand:300,700" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
      <header>
        <h1>Econ<span class="active">.Fun</span></h1>
        <nav>
            {% if render(controller('AppBundle:Index:teacherIsLoggedIn')) == true %}
                <a href="{{ path('new_game') }}"><i class="fa fa-plus-circle" aria-hidden="true"></i>Create Game</a>
            {% else %}
                <a href="{{ path('join_game') }}"><i class="fa fa-plus-circle" aria-hidden="true"></i>Join Game</a>
                <a href="{{ path('teacher_login') }}"><i class="fa fa-user-circle" aria-hidden="true"></i>Teacher Login</a>
            {% endif %}
        </nav>
      </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
