{% extends 'base.html.twig' %}

{% block body %}
    <h1>Your Games</h1>
    <div class="admin-table">
        <div class="row">
            <div class="cell">Game Code</div>
            <div class="cell">Status</div>
        </div>
        {% for game in games %}
            <div class="row">
                <div class="cell">{{ game.joinCode }}</div>
                <div class="cell">
                {% if game.active %}
                    <a href="{{ path('teacher_game_admin', { joinCode: game.joinCode }) }}">Manage Game</a>
                {% else %}
                    Archived
                {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
