{% extends 'base.html.twig' %}

{% block body %}
  <h1>Create a New <span class="green">Public Goods Game</span>?</h1>
  {{ form_start(form) }}
      <button type="submit">Create Game!</button>
  {{ form_end(form) }}
{% endblock %}
